<% if @member && @cred %>
  <div class="gpr-container">
    <%= form_tag reset_password_path do -%>
      <%= hidden_field_tag :id, @member.id %>
      <%= hidden_field_tag :uid, @params[:uid]  %>
      <%= hidden_field_tag :token, @params[:token] %>
      <h6>New Password</h6>
      <div class="form-group">
        <div class="input-group full-width">
          <%= password_field_tag "password", '', required: 'required', class: 'form-control md5-input', :placeholder => "New Password" %>
          <div class="form-control-feedback fix-field-icon not-focus">
            <%= image_tag "light-password-lock.png" %>
          </div>
          <div class="form-control-feedback fix-field-icon focus">
            <%= image_tag "dark-password-lock.png" %>
          </div>
        </div>
      </div>
      <h6>Retype New Password</h6>
      <div class="form-group">
        <div class="input-group full-width">
          <%= password_field_tag "password_confirm", '', class: 'form-control md5-input', equalto: "#password", :placeholder => "Confirm Password" %>
          <div class="form-control-feedback fix-field-icon not-focus">
            <%= image_tag "light-password-lock.png" %>
          </div>
          <div class="form-control-feedback fix-field-icon focus">
            <%= image_tag "dark-password-lock.png" %>
          </div>
        </div>
      </div>
      <div class="actions settings-submit-button">
        <%= submit_tag 'Update', :class => 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
<% end %>
